.container {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;

}

/* header  */

header {
    max-width: inherit;
    width: inherit;
    height: 96px;
    padding: 37px 11%;
    background-color: rgba(213, 144, 110, 0.52);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(8px);
}

.fa-bars,
.fa-xmark {
    font-size: 20px;
    color: #FFFFFF;
    display: none;
}


ul {
    width: 316px;
    display: flex;
    justify-content: space-between;
    gap: 3.1%;

}

.header_text {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 30px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.main {
    color: #D5906E;
}

.header_text:hover {
    background-color: rgb(128, 57, 9);

}



h1 a {
    font-family: 'Inter', sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 40px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

h1 a:hover {
    background-color: rgb(128, 57, 9);
}



span {
    font-weight: 400;
    color: #D5906E;

}

.sign_in {
    width: 92px;
    display: flex;
    justify-content: space-between;
}

.sign_in_text {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
}

.fa-cart-shopping {
    font-size: 20px;
    color: #FFFFFF;
}



/* section 1  */

.section_1 {
    width: 100%;
    height: 720px;
    background-image: url("../images/img\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.section_1_main_div {
    position: absolute;
    width: 40%;
    top: 283px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;

}

.section_1_div_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.section_1_title {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
}

.section_1_text {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    animation: changefont 10s linear forwards;

}

@keyframes changefont {
    0% {
        font-size: 1rem;
    }

    25% {
        font-size: 1.5rem;
    }

    50% {
        font-size: 1rem;
    }

    75% {
        font-size: 1.5rem;
    }

    100% {
        font-size: 1rem;
    }


}

.section_1_div_2 button {
    background: none;
    padding: 19px 117px;
    border: 2px solid rgba(213, 144, 110, 1);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;

}

/* section 2  */

.section_2 {
    padding: 160px 25.5%;
    display: flex;
    justify-content: space-between;

}

.section_2 figure {
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.section_2_imgs {
    width: 100%;
}

figcaption {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 22px;
    color: #B53B1B;
}

/* section 3  */

.section_3 {
    width: 100%;
    background-color: #402101;
    padding: 96px 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.section_3_title {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
}

.section_3_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7%;
}

.section_3_left {
    width: 57%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.section_3_left_bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12%;
}

.section_3_right {
    width: 36%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.img1 {
    width: 100%;
}

.img2_3 {
    width: 44%;
}



/* section 4  */

.section_4 {
    width: 100%;
    padding: 160px 9%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section_4_title {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    color: #402101;
    margin-bottom: 40px;
}


.section_4_maindiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.section_4_middle_div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_4_img11_div {
    width: 22%;
    height: 260px;
    background-image: url("../images/img\ 11.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.section_4_img11_div:hover {
    transform: scale(1.2);
    box-shadow: 15px 15px 20px black;
}

.section_4_img12_div {
    width: 22%;
    height: 260px;
    background-image: url("../images/img\ 12.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.section_4_img12_div:hover {
    transform: scale(1.2);
    box-shadow: 15px 15px 20px black;
}

.section_4_img13_div {
    width: 22%;
    height: 260px;
    background-image: url("../images/img\ 13.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.section_4_img13_div:hover {
    transform: scale(1.2);
    box-shadow: 15px 15px 20px black;
}

.section_4_img14_div {
    width: 22%;
    height: 260px;
    background-image: url("../images/img\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.section_4_img14_div:hover {
    transform: scale(1.2);
    box-shadow: 15px 15px 20px black;
}

.section_4_img_price {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    color: #B53B1B;
    position: absolute;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 40px;
    top: 196px;
    left: 16px;
}

.section_4_arrow_div {
    width: 44px;
    height: 44px;
    padding: 10px 13px;
    background-color: #B53B1B;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.section_4_arrow_div:hover {
    background-color: black;
    transform: scale(1.4);
}

.fa-chevron-left {
    font-size: 25px;
    color: #FFFFFF;
}

.fa-chevron-right {
    font-size: 25px;
    color: #FFFFFF;
}

.view_more{
    display: none;
}
.view_more button {
    width: 154px;
    padding: 15px 30px;
    border: none;
    background-color: #B53B1B;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
}

/* section 5  */

.section_5 {
    width: 100%;
    height: 480px;
    background-image: url("../images/img\ 15.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.section_5_title {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.section_5_email_form {
    position: absolute;
    width: 30%;
    height: 56px;
    border: 1px solid #FFFFFF;
    top: 264px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border-radius: 15px;


}

.section_5_email_adress {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section_5_email_input {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    outline: none;
    height: 56px;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background: none;
    margin-left: 20px;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}

.section_5_email_subscribe{
    width: 30%;
}

.section_5_email_subscribe button {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 18px;
    color: #402101;
    border: none;
    background-color: #FFFFFF;
    padding: 17px 25px;
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}


/* article  */

article {
    padding: 160px 12.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_title {
    font-family: 'Inter', sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 44px;
    color: #402101;
    margin-bottom: 40px;
}

.article_main_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4.17%;
    margin-bottom: 112px;
}

.article_text_div {
    width: 439px;
    background-color: #D5906E4D;
}

.article_text_div_title {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 29px;
    color: #B53B1B;
    margin-bottom: 24px;
}

.article_text_div_text {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color: #402101;
}

.article_question {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
    color: #402101;
    margin-bottom: 34px;
}

.article_btn {
    padding: 13px 52px;
    background-color: #B53B1B;
    border: none;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 29px;
    color: #FFFFFF;
}

/* footer  */

footer {
    width: 100%;
    padding: 32px 0 56px 0;
    background-color: #402101;
    display: flex;
    justify-content: center;
    gap: 15.8%;
}

.footer_left_div {
    width: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_div_title {
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.help_privacy {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 8px;
}

.logo_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 43px;
}

.logo_div a img {
    border-radius: 7px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.logo_div a img:hover {
    transform: scale(1.5);
    box-shadow: 5px 5px 5px white;

}

.footer_logo {
    font-family: 'Inter', sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 44px;
    color: #FFFFFF;
}

.footer_right_div {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_right_div1 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer_right_div1 a {
    color: #FFFFFF;
    font-size: 1.2rem;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.footer_right_div1 a:hover {
    transform: scale(1.5);


}

.footer_right_div1 p {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    color: #FFFFFF;
}

/* artworks page  */

/* artwork section 1  */

.artwork_section_1 {
    width: 100%;
    height: 560px;
    background-image: url("../images/img\ 16.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.artwork_section_1_main_div {
    position: absolute;
    width: 40%;
    top: 226px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;

}

.artwork_section_1_div_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.artwork_section_1_title {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
}

.artwork_section_1_div_2 button {
    background: none;
    padding: 19px 117px;
    border: 2px solid rgba(213, 144, 110, 1);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;

}

/* artwork section 2  */

.artwork_section_2 {
    width: 100%;
    padding: 160px 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* artwork_section_2_firstdiv  */

.artwork_section_2_firstdiv {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 61px;
}

.artwork_section_2_firstdiv_left {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artwork_section_2_firstdiv_left p {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 22px;
    color: #402101;
}

.fa-chevron-down {
    font-size: 1.1rem;
    color: #402101;
}

.artwork_section_2_firstdiv_right {
    width: 73%;
    border: 2px solid #402101;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;


}

.artwork_section_2_firstdiv_right1 {
    padding: 19px 0 19px 16px;
}

.artwork_section_2_firstdiv_right1 p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color: #40210185;
}

.artwork_section_2_firstdiv_right2 {
    width: 36.4%;
    background-color: #402101;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artwork_section_2_firstdiv_right2 p {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
}

/* artwork_section_2_seconddiv  */

.artwork_section_2_seconddiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.artwork_section_2_seconddiv p {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 48px;
    color: #402101;
}

.artwork_section_2_seconddiv_right {
    width: 118px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #B53B1B;
    border-radius: 5px;

}

.artwork_section_2_seconddiv_right p {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 29px;
}

.fa-arrow-down-up-across-line {
    font-size: 1.4rem;
    color: #402101;
}

/* artwork_section_2_cardsdiv  */

.cards_div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4.16%;
    margin-bottom: 60px;
}

.card_div {
    width: 21.875%;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    border-radius: 10px
}

.card_div:hover {
    box-shadow: rgb(0, 0, 0) 0px 0px 10px 10px;
}

figure img {
    width: 100%;
}

figcaption {
    color: #B53B1B;
    margin-top: 24px;
}

.card_bottom_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 20px;
}

.card_bottom_div p {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 29px;
    color: #402101;
}

.icon_div {
    width: 24px;
    height: 24px;
    background-color: #D5906E4D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-cart-plus {
    color: #402101;
}

/* artwork section 2 pages div  */

.pages {
    width: 31.1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: 12.5%;
    height: 56px;
    border: 2px solid #B53B1B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page p {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 22px;
    color: #402101;

}

.page3 {
    background-color: #B53B1B;
}

.page3 p {
    color: #FFFFFF;
}

.fa-angle-left {
    font-size: 2rem;
    color: #402101;
}

.fa-angle-right {
    font-size: 2rem;
    color: #402101;
}

/* contact page  */

.contact_section1 {
    width: 100%;
    height: 720px;
    background-image: url("../images/img\ 25.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


.get_in_touch_div {
    position: absolute;
    width: 500px;
    padding: 24px 30px;
    background-color: rgba(64, 33, 1, 0.73);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    top: 208px;
    left: 12.5%;
    transform: translateX(12.5%);
    display: flex;
    flex-wrap: wrap;
}

.form_header {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;

}

.fullname_and_email_input_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 40px 0 36px 0;
}

.fullname_and_email_input {
    width: 43.2%;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    background: none;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;

}

textarea {
    width: 100%;
    height: 96px;
    resize: none;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    background: none;
    margin-bottom: 36px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
}

.submit_btn {
    padding: 19px 42px;
    background-color: rgba(213, 144, 110, 1);
    border: none;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.submit_btn:hover {
    color: black;
    background-color: #FFFFFF;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 5px;
}


::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.76);

}

/* contact_section2  */

.contact_section2 {
    width: 100%;
    padding: 160px 19%;

}

.contact_div {
    width: 100%;
    background-color: rgba(213, 144, 110, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.contact_title {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    color: #402101;

}

.map_and_contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 18%;
}

.contact_left_div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact_left_div h6 {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 22px;
    color: #B53B1B;
    margin-bottom: 7px;
}

.contact_left_div a {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    color: #623932;
}

iframe {
    width: 68.5%;
    height: 320px;
    border: none;

}